<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <title>Search App</title>
</head>
<body>
  <h1>Shortest Distance in "IMDB Racing"</h1>
  <form method="post">
    <label for="url1">URL of the starting actor:</label>
    <input type="text" name="url1"><br>
    <label for="url2">URL of the ending actor:</label>
    <input type="text" name="url2"><br>
    <input type="submit" value="Search">
  </form>
  <% if (results !== null) { %>
    <h2>Found Path of Links:</h2>
    <ul>
      <% results.forEach((result) => { %>
        <li><a href="<%= result %>" target="_blank"><%= result %></a></li>
      <% }); %>
    </ul>
  <% } %>
  
  
</body>
</html>
